<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grechur.waimai">

    <application>
        <activity
            android:name=".WaimaiActivity"
            android:exported="false" />
    </application>

</manifest>